* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    min-height: 50px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 25px;
    background: #171100;
}

/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .sign-up-btn {
    width: 144px;
    height: 50px;
}

.header .action{
    margin-left: 49px;
}