* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 118px;
    min-height: 50px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 25px;
    background: #171100;
}

/* Header */
.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .sign-up-btn {
    width: 144px;
    height: 50px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 65px 0;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .content-block {
    width: 52%;
}

.hero .category-card {
    position: absolute;
    right: 0;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 270px;
    padding: 28px 24px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero .category-card .item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero .category-card .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8;
}

.hero .category-card .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
}

.hero .content-block {
    padding: 64px 0px 64px 130px;
}

.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.116rem;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.hero .cta-group {
    margin-top: 38px;
}

.hero .cta-group .course-btn {
    min-width: 180px;
    min-height: 64px;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .cta-group .watch-video {
    display: inline-flex;
    gap: 14px;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #fffcf4;
    cursor: pointer;
}

.hero .cta-group .play-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .cta-group span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .content-block .label-stats {
    margin-top: 48px;
}

.hero .hero-stats {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.hero .hero-stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

.hero .hero-stats span {
    padding-left: 8px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
